body {
  font-family: Arial, sans-serif;
  background-color: #0f0f0f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

input {
  width: 300px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background-color: #ff0000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#status {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  input {
    width: 90%; /* Increase input width for mobile */
    font-size: 18px; /* Larger font size */
  }

  button {
    padding: 12px 25px; /* Increase button size */
    font-size: 18px; /* Larger font size */
  }

  h1 {
    font-size: 2em; /* Larger heading size for better readability */
  }

  h4 {
    font-size: 1.2em; /* Slightly larger subheading */
  }

  .container {
    padding: 10px; /* Add some padding to prevent things from being too close to the edges */
  }
}
